on:
  push:
    branches:
    - master
    - main
jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
    - name: Install Sagittarius CLI
      run: "curl -L https://github.com/sagittarius-cloud/sagittarius-cli/releases/download/v1.0.2/sagittarius-linux
        -o /usr/local/bin/sagittarius && chmod +x /usr/local/bin/sagittarius\nalias
        sag=/usr/local/bin/sagittarius"
    - name: Login to Sagittarius CLI
      run: sag login --token ${{ secrets.SAGITTARIUS_TOKEN }}
    - name: Deploy Application
      run: sag deploy --id 220 --action restart

