on:
  push:
    branches:
    - master
    - main
jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
    - name: Install Sagittarius CLI and Deploy Application
      run: " |\n                            mkdir -p $HOME/.local/bin            \
        \                 curl -L https://github.com/sagittarius-cloud/sagittarius-cli/releases/download/v1.0.2/sagittarius-linux
        -o $HOME/.local/bin/sag                             chmod +x $HOME/.local/bin/sag\
        \                             echo \"$HOME/.local/bin\" >> $GITHUB_PATH  \
        \                           alias sag=/usr/local/bin/sagittarius\n       \
        \                     sag login --token ${{ secrets.SAGITTARIUS_TOKEN }}\n\
        \                            sag deploy --id {app.id} --action restart\n \
        \                       "

